[*]
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4

[CMakePresets.json]
insert_final_newline = false
indent_style = space
indent_size = 2

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
cpp_indent_case_contents_when_block = true
cpp_indent_namespace_contents = true
cpp_new_line_before_open_brace_namespace = same_line
cpp_new_line_before_open_brace_block = same_line
cpp_space_remove_before_semicolon = true
